
<div class="container">

  <div  class="offset-md-2 col-md-8">

    <form [formGroup]="login" (ngSubmit)="onLogin()">
      <div class="row">




        <div class=" col-sm-12 mb-3">
          <label for="email">email</label>
          <input type="text" class="form-control  "
                 formControlName="email" id="email" placeholder="" value="">
          <div class="invalid-feedback "> invalid format</div>
        </div>


        <div class=" col-sm-12 mb-3">
          <label for="password">password</label>
          <input type="password" class="form-control  "
                 formControlName="password" id="password" placeholder="" value="">
          <div class="invalid-feedback "> invalid format</div>
        </div>



      </div>

      <button class="btn btn-success" type="submit">Login</button>
    </form>
  </div >
</div>

