<div class="container">

    <div class="offset-md-2 col-md-8">
        <br><br>
        <div class="jumbotron">
            <h1 class="display-3">Profile Page</h1>
            <p class="lead">Create your profile stuff here</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">

                <code>
                    <BR>
                    {{ results|json }}</code>
            </p>
        </div>
    </div>

</div>