<div class="container">

    <div  class="offset-md-2 col-md-8">

        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="row">


                <div class=" col-sm-12 mb-3">
                    <label for="name">name</label>
                    <input type="text" class="form-control  "
                           formControlName="name" id="name" placeholder="" value="">
                    <div class="invalid-feedback "> invalid format</div>
                </div>


                <div class=" col-sm-12 mb-3">
                    <label for="email">email</label>
                    <input type="text" class="form-control  "
                           formControlName="email" id="email" placeholder="" value="">
                    <div class="invalid-feedback "> invalid format</div>
                </div>


                <div class=" col-sm-12 mb-3">
                    <label for="password">password</label>
                    <input type="password" class="form-control  "
                           formControlName="password" id="password" placeholder="" value="">
                    <div class="invalid-feedback "> invalid format</div>
                </div>


                <div class=" col-sm-12 mb-3">
                    <label for="c_password">c_password</label>
                    <input type="password" class="form-control  "
                           formControlName="c_password" id="c_password" placeholder="" value="">
                    <div class="invalid-feedback "> invalid format</div>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Submit form</button>
        </form>
    </div >
</div>


