
<div class="load-bar" *ngIf="this.loaderAnimation">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
</div>


<div  class="offset-md-2 col-md-8"  *ngIf="! this.formComplete">
<form  [formGroup]="WebLogForm" (ngSubmit)="onSubmit(this.id,  this.isUpdate )">
    <div class="row">
                    

        <div class=" col-sm-12 mb-3">
            <label for="name">name</label>
                        <input type="text" class="form-control  "
                   formControlName="name"  id="name" placeholder="" value=""   >
                        <div class="invalid-feedback ">Please provide valid name</div>
        </div>
                    

        <div class=" col-sm-12 mb-3">
            <label for="email">email</label>
                        <input type="text" class="form-control  "
                   formControlName="email"  id="email" placeholder="" value=""   >
                        <div class="invalid-feedback ">Invalid Email</div>
        </div>
                    

        <div class=" col-sm-12 mb-3">
            <label for="phone">phone</label>
                        <input type="text" class="form-control  "
                   formControlName="phone"  id="phone" placeholder="" value=""   >
                        <div class="invalid-feedback "> invalid format </div>
        </div>
                    

        <div class=" col-sm-12 mb-3">
            <label for="detail">detail</label>
                            <textarea name="detail" id="detail"  class="form-control "  formControlName="detail"></textarea>
                        <div class="invalid-feedback ">Please write something sensible!</div>
        </div>
                    

        <div class=" col-sm-12 mb-3">
            <label for="is_public">is_public</label>
                        <input type="checkbox" class="form-control  "
                   formControlName="is_public"  id="is_public" placeholder="" value="1"   >
                        <div class="invalid-feedback "> invalid format </div>
        </div>
            </div>
    <button class="btn btn-primary" type="submit">{{ this.buttonLabel}}</button>
</form>
</div>


    <div class="offset-md-2 col-md-8 text-center" *ngIf="this.formComplete">
        <br><br>
        <div class="jumbotron">
            <h1 class="display-3"> All done.. </h1>
            <p class="lead"></p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" routerLink="/web-log/page/1" role="button"> continue.. </a>
        </div>
    </div>




