<div class="container">
    <div class="offset-md-2 col-md-8">


        <div class="text-center">
            <a routerLink="page/1">List</a> |
            <a routerLink="add">Add</a>
        </div>

        <router-outlet></router-outlet>

    </div>






