<div class="load-bar" *ngIf="this.loaderAnimation">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
</div>
<h1>List Page:</h1>


<div>

    <div class="flip">
        <div class="f_card ps-no-class " id="web-log-list">


            <div class="face front" id="web-log-list-front">
                <div class="text-center">
                    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/cd514331234507.564a1d2324e4e.gif"
                         alt="">
                </div>
            </div>
            <div class="face back text-center">
                <div *ngFor="let single of data" class="row">


                    <div class="col-9 text-left" id="web-log-list-{{single.id}}">
                        {{single.id }} - {{ single.name }}
                    </div>
                    <div class="col-3" id="web-log-list-{{single.id}}-links">
                        <a routerLink="../../edit/{{single.id }}">
                            <i class="fa fa-pencil" aria-hidden="true"></i> EDIT
                        </a>
                        <span class="ps_c2hand " (click)='deleteRecord(single.id)'>
                            <i class="fa fa-trash text-danger " aria-hidden="true"></i>
                        </span>


                    </div>


                    <BR>


                </div>

                <div class="text-center">
                    showing {{ this.records_from }} to {{this.records_to}} of {{ this.record_total}}

                    <div *ngIf="this.last_page != 1 ">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item ">
                                <a class="page-link"  (click)="onPaginate( 1 )"  routerLink="../1" tabindex="-1"> < </a>
                            </li>
                            <!--                <li class="nav-item active" (click)="hideNav()">-->
                            <li class="page-item" *ngFor="let number of num_array ; ">
                                <a class="page-link "
                                   (click)="onPaginate( this.number + 1 )"
                                   routerLink="../{{ number+1 }}"> {{ number+1 }}
                                </a>
                            </li>

                            <li class="page-item">
                                <a class="page-link"  (click)="onPaginate( this.last_page )" routerLink="../{{ this.last_page }}" tabindex="-1"> > </a>
                            </li>
                        </ul>
                    </nav>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>



